<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/admin/admin_style.css" />
  </head>
  <body>
    <header class="header">
      <h2>Administration</h2>
    </header>
    <div class="grid">
      <div class="navbar">
        <div>
          <span>Spelare</span>
          <a href="/admin/players"><p>Lista spelare</p></a>
          <a href="/admin/players/new"><p class="current-page">Lägg till spelare</p></a>
          <span> Spel</span>
          <a href="/admin/games"><p>Lista spel</p></a>
          <a href="/admin/games/new"><p>Lägg till spel</p></a>
          <span>Highscores</span>
          <a href="/admin/scores"><p>Lista highscores</p></a>
          <a href="/admin/scores/new"><p>Lägg till highscores</p></a>
        </div>
      </div>
      <div class="container">
        <div class="addplayer-content">
          <div class="title-container">
            <h4 class="admin-page-title">Lägg till spelare</h4>
          </div>
          <div class="admin-form">
            <form autocomplete="off" method="POST">
              
              <label for="firstname">Förnamn</label>
              <input
                name="firstname"
                id="firstname"
                type="text"
                placeholder="Ange förnamn"
              />

              <label for="lastname">Efternamn</label>
              <input
                name="lastname"
                id="lastname"
                type="text"
                placeholder="Ange efternamn"
              />

              <label for="email">Email</label>
              <input
                name="email"
                id="email"
                type="text"
                placeholder="Ange email"
              />

              <button class="add" >Lägg till</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
